// "out": "../css/styles.css", "compress": true
@text-color: #6f6f6f;
@dark-text-color: @text-color - #292929;
@light-text-color: #969696;
@light-border-color: #c9c9c9;
@light-background: #f9fffd;

@font-size: 18px;
@small-font: @font-size - 4px;
@smaller-font: @small-font - 2px;

html, body { height: 100%; }
body {
	 color:@text-color;
	 background-image: svg-gradient(to bottom right, #e4e4e4, #c4dfd6);
	 font-family: "proxima-nova",sans-serif;
	 font-size: @font-size;
}
.nav-menu {
	display: flex;
	align-items: center;
	height: 75px;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: auto;
	z-index: 1;
	width: 100%;
	//background-color: rgba(0,0,0,0.06);
	background-color: @light-background;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.26);

}
.nav-item-1 {
	flex-grow: 1;
	margin-right: 2em;
	cursor: pointer;
	transition: color 0.3s;
	&:hover {
		color: @dark-text-color;
	}
}
.nav-item-8 {
	flex-grow: 8;
	margin-right: 2em;
	cursor: pointer;
	transition: color 0.3s;
	&:hover {
		color: @dark-text-color;
	}
}

.search-box {
	display:flex;
	&:after{
		content: "🔍";
		padding-top: 10px;
	}
	input {
		flex-grow: 8;
		margin-right: .5em;
		padding: 10px;
		border: none;
		border-bottom: solid 2px @light-border-color;
		transition: border 0.3s;
		background-color: rgba(0,0,0,0);
		font-size: 18px;
		box-shadow: none;

		&:focus{
			border-bottom: solid 2px @text-color;
			outline: none;
		}
	}
}

#container {
	padding: 10px;
	display:flex;
	flex-grow:1;
	height: 100%;
	margin-top: 75px;

}

#footer {
	height: 100px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin: auto;
	z-index: 1;
	width: 100%;
	background-color: @light-background;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.26);
}

.clearfix {
  &:before, &:after{ content:""; }
  &:after{ clear: both; }
}

.float {
	float: left;
}

.link {
	&:hover {
		text-decoration: underline;
	}
}

.album {
	width: 200px;
	height: 250px;
	margin: 0 20px 20px 0;
	background-color: @light-background;
	border-radius: 5px;
	border-width: 1px;
    border-style: solid;
    border-color: rgba(35, 35, 35, 0.0980392);
    overflow: hidden;
    cursor: pointer;
	transition: box-shadow 0.3s;
    &:hover {
 		box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45);
 		.overlay {
 			opacity: 1;
	    }
    }

    .name {
    	font-size: @small-font;
    	color: @dark-text-color;
    	padding: 3px 5px;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow: hidden;
    }

    .band {
		font-size: @smaller-font;
		color: @light-text-color;
		padding: 3px 5px;
	    text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow: hidden;
    }

    .overlay {
    	position:absolute;
		height: 250px;
		width: 200px;
    	opacity: 0;
    	transition: opacity 0.3s;
    	pointer-events: none;

    	.play-button{
    		position: relative;
    		top: 100px;
    		height: 50px;
			width: 50px;
			margin: 0 auto;
			background-color: @light-background;
			line-height: 50px;
			border-radius: 25px;
			box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45);
	    	&:after {
	    		//background-color: #e4601f; //#fabf66
    		    content: "";
			    width: 0px;
			    height: 0px;
			    border-top: 25px solid #e4601f;
			    border-left: 15px solid transparent;
			    border-right: 15px solid transparent;
			    border-bottom: none;
			    transform: rotate(270deg);
			    display: inline-block;
			    margin-top: 12px;
			    margin-left: 12px;

	    	}
	    }
    }
}
